.page {
  align-items: center;
  justify-items: center;
}

.childIntro {
  align-items: center;
  justify-items: center;
}
.childInfo {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-items: center;
}